<div class="text-center">
  
    <%- if controller_name != 'sessions' %>
      <div class="my-4 py-4">
        <%= link_to "既に登録されている方はこちら", new_session_path(resource_name), class:"bg-blue-300 hover:bg-blue-200 text-lg rounded px-4 py-2" %>
      </div>
    <% end %>

  <div class="flex flex-row space-x-4">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "新規に登録される方はこちら", new_registration_path(resource_name), class: "bg-green-300 hover:bg-green-200 text-lg rounded px-2 py-2" %>
      <% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "パスワードを忘れてしまったら", new_password_path(resource_name), class:"bg-yellow-300 hover:bg-yellow-200 text-lg rounded px-2 py-2" %>
      <% end %>
  </div>

  <%- if devise_mapping.omniauthable? %>
    <div class="flex justify-center mt-8">
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= button_to omniauth_authorize_path(resource_name, provider), class:"bg-blue-500 hover:bg-blue-400 text-white font-bold rounded px-4 py-2", data: { turbo: false } do %>
          <i class="fa-brands fa-google fa-lg mx-2"></i>
          Google IDで登録 & ログイン
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
