<div class="footer flex justify-end items-center h-7 bg-neutral-800/40">
  <%= link_to "利用規約", rule_path, class:"text-white text-sm mr-4 rounded-lg hover:bg-neutral-700" %>
  <%= link_to "プライバシーポリシー", policy_path, class:"text-white text-sm mr-4 rounded-lg hover:bg-neutral-700" %>
</div>