<% chat_logs.each do |log| %>
  <% if log[:role] == "user" %>
    <div class="chat chat-end">
      <div class="chat-bubble chat-message user-message">
        <%= log[:content].html_safe %>
      </div>
    </div>
  <% elsif log[:role] == "gemini" %>
    <div class="chat chat-start">
      <div class="chat-bubble chat-message gemini-message">
        <%= log[:content].html_safe %>
      </div>
    </div>
  <% end %>
<% end %>
