<form method="post" class="flex space-x-2" data-turbo="true">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="message" id="message" class="border border-gray-300 rounded-md p-2 flex-grow">
  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white rounded-md p-2">送信</button>
</form>
