<form method="post" class="flex space-x-2" data-turbo="true">
  <input type="text" name="message" id="message" class="border border-gray-300 rounded-md p-2 flex-grow mt-4", placeholder="メッセージを入力（140字以内）">
  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white rounded-md p-2">送信</button>
</form>
