<main class="flex">
  <div class="w-1/2 p-4">
    <div class="border-l-4 border-blue-500 pl-4 py-2 shadow-xl rounded-md text-center">
      <h2 class="text-3xl">哲学対話とは</h2>
      <p>本アプリは以下のルールにならってAIと「対話」をするチャットアプリとなっています。</p>
      <h3 class="text-2xl">1. 何を言ってもいい。</h3>
      <h3 class="text-2xl">2. 人の言うことに対して否定的な態度をとらない。</h3>
      <h3 class="text-2xl">3. 発言せず、ただ聞いているだけでもいい。</h3>
      <h3 class="text-2xl">4. お互いに問いかけるようにする。</h3>
      <h3 class="text-2xl">5. 知識ではなく、自分の経験に即して話す。</h3>
      <h3 class="text-2xl">6. 話がまとまらなくてもいい。</h3>
      <h3 class="text-2xl">7. 意見が変わってもいい。</h3>
      <h3 class="text-2xl">8. 分からなくなってもいい。</h3>
      <p class="text-right text-xs">（梶谷真司著『考えるとはどういうことか』2018年9月刊、幻冬舎新書 より）</p>
    </div>
  </div>
  <div class="w-1/2 p-4">
    <div class="relative inline-block text-left">
      <form action="/chats/new" method="get">
        <select name="theme" class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
          <% @theme.each do |theme| %>
            <option value="<%= theme %>"><%= theme %></option>
          <% end %>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
        <button type="submit" class="mt-4 button bg-blue-500 text-white rounded px-4 py-2">対話開始</button>
      </form>
    </div>
  </div>
</main>
